*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*

# documentation
doc/_build/
doc/auto_examples/

# development
spykes.egg-info/
notebooks/

# test-related
.coverage
.cache

# developer environments
.idea
.vscode

# virtual environments
venv/
venvs/

# data
*.mat
